.default {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 8px;
  color: #1f2937;
  padding: 0.75em 1em;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.default.success {
  border: 1px solid #34d399;
}

.default.failure {
  border: 1px solid #dc2626;
}

.default.warning {
  border: 1px solid #f59e0b;
}

.default.withIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.icon.success {
  color: #34d399;
}

.icon.failure {
  color: #dc2626;
}

.icon.warning {
  color: #f59e0b;
}

.clickable {
  cursor: pointer;
}
